#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	# Install Python bridge
	install -d $(CURDIR)/debian/hurdcog-occ-bridge/usr/lib/python3/dist-packages/hurdcog
	install -m 644 atomspace-hurdcog-bridge.py $(CURDIR)/debian/hurdcog-occ-bridge/usr/lib/python3/dist-packages/hurdcog/
	
	# Create __init__.py for Python package
	touch $(CURDIR)/debian/hurdcog-occ-bridge/usr/lib/python3/dist-packages/hurdcog/__init__.py
	
	# Install Scheme interfaces
	install -d $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/guile/site/3.0/hurdcog
	install -m 644 cognumach.scm $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/guile/site/3.0/hurdcog/
	install -m 644 hurdcog.scm $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/guile/site/3.0/hurdcog/
	install -m 644 occ-hurdcog-unified.scm $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/guile/site/3.0/hurdcog/
	
	# Install AGI-OS synergy framework
	install -d $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/guile/site/3.0/agi-os
	install -m 644 agi-os-synergy.scm $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/guile/site/3.0/agi-os/
	
	# Install documentation
	install -d $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/doc/hurdcog-occ-bridge
	install -m 644 README.md $(CURDIR)/debian/hurdcog-occ-bridge/usr/share/doc/hurdcog-occ-bridge/
