#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DKOBOLD_KERNEL_BUILD_TESTS=ON \
		-DKOBOLD_KERNEL_BUILD_BENCHMARKS=OFF \
		-DKOBOLD_KERNEL_BUILD_PYTHON_FFI=ON \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_test:
	# Run tests if available
	dh_auto_test || true

override_dh_strip:
	dh_strip --automatic-dbgsym
