guile-dbd-mysql/Makefile.in
guile-dbd-mysql/aclocal.m4
guile-dbd-mysql/autogen.err
guile-dbd-mysql/autom4te.cache/
guile-dbd-mysql/build/
guile-dbd-mysql/compile
guile-dbd-mysql/config.guess
guile-dbd-mysql/config.h.in
guile-dbd-mysql/config.h.in~
guile-dbd-mysql/config.sub
guile-dbd-mysql/configure
guile-dbd-mysql/depcomp
guile-dbd-mysql/install-sh
guile-dbd-mysql/ltmain.sh
guile-dbd-mysql/m4/
guile-dbd-mysql/missing
guile-dbd-mysql/src/Makefile.in
guile-dbd-postgresql/Makefile.in
guile-dbd-postgresql/aclocal.m4
guile-dbd-postgresql/autogen.err
guile-dbd-postgresql/autom4te.cache/
guile-dbd-postgresql/build/
guile-dbd-postgresql/compile
guile-dbd-postgresql/config.guess
guile-dbd-postgresql/config.h.in
guile-dbd-postgresql/config.h.in~
guile-dbd-postgresql/config.sub
guile-dbd-postgresql/configure
guile-dbd-postgresql/depcomp
guile-dbd-postgresql/install-sh
guile-dbd-postgresql/ltmain.sh
guile-dbd-postgresql/m4/
guile-dbd-postgresql/missing
guile-dbd-postgresql/src/Makefile.in
guile-dbd-sqlite3/Makefile.in
guile-dbd-sqlite3/aclocal.m4
guile-dbd-sqlite3/autogen.err
guile-dbd-sqlite3/autom4te.cache/
guile-dbd-sqlite3/build/
guile-dbd-sqlite3/compile
guile-dbd-sqlite3/config.guess
guile-dbd-sqlite3/config.h.in
guile-dbd-sqlite3/config.h.in~
guile-dbd-sqlite3/config.sub
guile-dbd-sqlite3/configure
guile-dbd-sqlite3/depcomp
guile-dbd-sqlite3/install-sh
guile-dbd-sqlite3/ltmain.sh
guile-dbd-sqlite3/m4/
guile-dbd-sqlite3/missing
guile-dbd-sqlite3/src/Makefile.in
guile-dbi/Makefile.in
guile-dbi/aclocal.m4
guile-dbi/autogen.err
guile-dbi/autom4te.cache/
guile-dbi/build/
guile-dbi/compile
guile-dbi/confdefs.h
guile-dbi/config.guess
guile-dbi/config.h.in
guile-dbi/config.h.in~
guile-dbi/config.log
guile-dbi/config.sub
guile-dbi/configure
guile-dbi/configure~
guile-dbi/conftest/
guile-dbi/depcomp
guile-dbi/doc/Makefile
guile-dbi/doc/Makefile.in
guile-dbi/doc/guile-dbi.info
guile-dbi/doc/texinfo.tex
guile-dbi/include/Makefile.in
guile-dbi/include/guile-dbi/Makefile.in
guile-dbi/install-sh
guile-dbi/libltdl/
guile-dbi/ltmain.sh
guile-dbi/m4/
guile-dbi/missing
guile-dbi/src/Makefile.in
guile-dbi/src/dbi/Makefile.in
guile-dbi/src/test/Makefile.in
patches/
